/*! -----------------------------------------------
@Files: Default styles
@Author: Gwladys Kelodjou (@Kengza)

Ceci est le fichier de style principal de la page
Youte modification de ce fichier impactera sur le rendu général

-------------------------------------------------- */
/* ======================== Définitions de la police ======================*/
@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/Inter-Regular.ttf");
}

/* ======================== Police générale ======================*/
body {
    font-family: "Inter-Regular";
    color: hsl(228, 12%, 44%);
    /* height: 100vh;
    overflow-y: hidden; */
}

/* Les titres: polices et font-size */
h1,h2,h3,h4,h5,h6 {
    font-family: "Inter-Bold";
    color: hsl(230, 17%, 14%);
}

/* *********************** PAGE CONTAINER ***************************** */

.page-container {
    padding: 0.8cm 3.8cm 0 3.8cm;
    width: 100%;
    background: linear-gradient(180deg, hsl(225, 100%, 98%) 29%, #fff 0);
    display: inline-block;
}
/************** Dashboard Name */
.onTop-elements {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.onTop-elements h1 {
    font-size: 1.7rem;
    margin: 0;
}
.onTop-elements h5 {
    margin: 0.5rem 0 0 0;
    font-size: 0.85rem;
    color: hsl(228, 12%, 44%);
    font-weight: bold;
    margin-right: 0px !important;
}

/************** Switch */ 
.switch label .lever {
    width: 41px !important;
    height: 20px !important;
    margin: 0 0 0 9px !important;
    /* background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)) !important; */
}
.switch label input[type="checkbox"]:checked + .lever::before, .switch label input[type="checkbox"]:checked + .lever::after {
    left: 22px !important;
}
.switch label .lever::after {
    box-shadow: none !important;
    background-color: white !important;
}
.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: white !important;
}
.switch label .lever::before, .switch label .lever::after {
    width: 16px !important;
    height: 16px !important;
    top: 2px !important;
}
.switch label input[type="checkbox"]:checked + .lever {
    background-color: rgba(99, 104, 126, 0.53) !important;
}
.switch label input[type="checkbox"]:checked + .lever:hover {
    /* background-color: red !important; */
    background-image: linear-gradient(to right,hsl(210, 78%, 56%), hsl(146, 68%, 55%)) !important;
}
.switch label input[type="checkbox"]:not(:checked) + .lever {
    background-image: linear-gradient(to right,hsl(146, 68%, 55%), hsl(210, 78%, 56%)) !important;
}
.switch label input[type="checkbox"]:not(:checked) + .lever::after {
    background-color: hsl(228, 28%, 20%) !important;
}
.switch label {
    color: hsl(228, 12%, 44%);
    font-family: "Inter-Bold";
    font-size: 0.8rem;
    font-weight: bold;
}
.switch label .lever::before {
    background-color: white !important;
}
.switch label .lever::before, .switch label .lever::after {
    left: 2px !important;
}
input[type="checkbox"]:not(:disabled) ~ .lever:active::before, input[type="checkbox"]:not(:disabled).tabbed:focus ~ .lever::before {
    -webkit-transform: scale(1) !important; 
    transform: scale(1) !important;
    background-color: transparent !important;
}
/************** Dashboard Elements: First row */
.first_social_media_row {
    margin-top: 2rem;
}
.fs-container, .aRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.card {
    width: 6.05cm;
    box-shadow: none !important;
    background-color: hsl(227, 47%, 96%) !important;
    border-radius: 5px !important;
    cursor: pointer; 
}

.card:hover {
    background-color: hsl(234, 16.7%, 88.2%) !important;
}
.fs-container .card {
    border-top: 4px solid; 
    height: 5.2cm;
    text-align: center;
}
.fs-container .card.facebook {
    border-top-color: hsl(195, 100%, 50%);
}
.fs-container .card.twitter {
    border-top-color: hsl(203, 89%, 53%);
}
.fs-container .card.instagram {
    border-top: double 4px transparent;
    /* border-radius: 80px; */
    background-image: linear-gradient(hsl(227, 47%, 96%), hsl(227, 47%, 96%)), radial-gradient(circle at top left, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    background-origin: border-box;
    background-clip: content-box, border-box;
    
}
.fs-container .card.instagram:hover {
    background-image: linear-gradient(hsl(234, 16.7%, 88.2%),hsl(234, 16.7%, 88.2%)), radial-gradient(circle at top left, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
}

.fs-container .card.youtube {
    border-top-color: hsl(348, 97%, 39%);
}
/* Head of cards */
.fs-container .head {
    margin: 1.5rem;
}
.head p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.fs-container .head p span {
    font-size: 0.76rem;
    font-weight: bold;
    font-family: "Inter-Bold";
    display: inline-block;
    margin-left: 10px;
}
/* Body of cards */
.fs-container .body h5 {
    font-size: 3.2rem;
    margin: 0;
}
.fs-container .body p {
    letter-spacing: 5px;
    font-size: 0.93rem;
    margin: 0.2rem 0 0 0;
}
/* Footer of cards */

.card .down, .card .up {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.card .down span, .card .up span {
    font-size: 0.75rem;
    font-weight: bold;
    font-family: "Inter-Bold";
    display: inline-block;
    margin-left: 4px;
}
.card .down span{
    /* align-items:  flex-start !important; */
    color: hsl(356, 69%, 56%);
    
}
.card .up span {
    color: hsl(163, 72%, 41%);
}

/************** Overview - Today */
.overview h3 {
    font-size: 1.43rem;
    color: hsl(228, 12%, 44%);
}
.overview .card {
    height: 3cm;
    padding: 1.5rem 1.7rem 1rem 1.7rem;
}
.overview .card .head p {
    justify-content: space-between;
    margin: 0;
}
.overview .card .head span {
    font-weight: bold;
    font-family: "Inter-Bold";
    font-size: 0.8rem;
}
.overview .card .body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0.5rem;
}
.overview .card .body h5{
    font-weight: bold;
}

/************** Attribution */
.attribution {
    margin-top: 20px;
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.attribution a {
    color: hsl(203, 89%, 53%);
    font-weight: bold;
}
.attribution a:hover {
    text-decoration: underline;
}

/* ***************** DARK MODE ***********/
.darkMode .page-container {
    background: linear-gradient(180deg, hsl(232, 19%, 15%) 29%, hsl(230, 17%, 14%) 0);
}
.darkMode h1, .darkMode h2, .darkMode h3,.darkMode h4,.darkMode h5,.darkMode h6 {
    color: white;
}
.darkMode .card {
    background-color: hsl(228, 28%, 20%) !important;   
}
.darkMode .fs-container .card.instagram {
    background-image: linear-gradient(hsl(228, 28%, 20%),hsl(228, 28%, 20%)), radial-gradient(circle at top left, hsl(37, 97%, 70%),hsl(329, 70%, 58%)) !important;
}
.darkMode .card:hover {
    background-color: hsl(227.4, 28.8%, 25.4%) !important;
}
.darkMode .fs-container .card.instagram:hover {
    background-image: linear-gradient(hsl(227.4, 28.8%, 25.4%),hsl(227.4, 28.8%, 25.4%)), radial-gradient(circle at top left, hsl(37, 97%, 70%),hsl(329, 70%, 58%)) !important;
}
.darkMode .fs-container .head p span,.darkMode .fs-container .body p, .darkMode .overview .card .head span, .darkMode .attribution span, .darkMode .onTop-elements h5, .darkMode .switch label{
    color: hsl(228, 34%, 66%);
}

/* ***************** Responsive ***********/
@media only screen and (max-width: 992px) {
    .page-container {
        padding: 0.8cm 1.7rem 0 1.7rem;
    }
    .overview h3 {
        text-align: center;
    }
    .onTop-elements, .fs-container, .aRow {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .onTop-elements {
        flex-flow: column;
    }
    .card {
        /* width: 7.5cm; */
        margin: 0.75rem !important;
    }
    .appName {
        padding-bottom: 1.6rem;
        border-bottom: 1px solid hsla(227.8, 34.1%, 66.1%, 0.38);
    }
    .switcher {
        margin-top: 1.2rem;
    }
    .darkMode .page-container {
        background: linear-gradient(180deg, hsl(232, 19%, 15%) 10%, hsl(230, 17%, 14%) 0);
    }
    .page-container {
        background: linear-gradient(180deg, hsl(225, 100%, 98%) 10%, #fff 0);
    }
    .first_social_media_row {
        margin-top: 3.5rem;
    }
}
@media only screen and (min-width: 601px) and (max-width: 824px) {
    .page-container {
        padding: 0.8cm 2.7rem 0 2.7rem;
    }
    .darkMode .page-container {
        background: linear-gradient(180deg, hsl(232, 19%, 15%) 20%, hsl(230, 17%, 14%) 0);
    }
    .page-container {
        background: linear-gradient(180deg, hsl(225, 100%, 98%) 20%, #fff 0);
    }
}
@media only screen and (min-width: 825px) and (max-width: 992px) {
    .page-container {
        padding: 0.8cm 3.8rem 0 3.8rem;
    }
    .darkMode .page-container {
        background: linear-gradient(180deg, hsl(232, 19%, 15%) 23%, hsl(230, 17%, 14%) 0);
    }
    .page-container {
        background: linear-gradient(180deg, hsl(225, 100%, 98%) 23%, #fff 0);
    }
}